:root {
  --white: #FFFFFF;
  --gray-400: #998e9e;
  --gray-650: #331B3B;
  --gray-700: #414141;
  --green-300: #c2d1c5;
  --green-350: #C3D1C5;
  --green-700: #38653D;
  --orange-700: #E36D00;
  --yellow-200: #fff9f2;
}